
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.content {
	margin-top: 95px;
}


.drop {
    margin-top: 15px;
}
.crush {
    margin-bottom: 15px;
}

.label-msg-debug, .label-msg-trace {
  background-color: #777;
}
.label-msg-info {
  background-color: #5bc0de;
}
.label-msg-warn {
  background-color: #f0ad4e;
}
.label-msg-error, .label-msg-fatal {
  background-color: #d9534f;
}

/* Colorize bucket_admin css */
.right-side-accordion .terques-bg,.slimScrollBar,.brand,.sidebar-toggle-box,ul.top-menu>li>a:hover,ul.top-menu>li>a:focus,.toggle-right-box:hover  {
    background: #940000 !important;
}
ul.sidebar-menu li ul.sub li a:hover,ul.sidebar-menu li ul.sub li.active a ,ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus,ul.sidebar-menu li a.active i,ul.sidebar-menu li a:hover i,ul.sidebar-menu li a:focus i{
    color: #940000;
}
