<section data-ng-controller="HomeController">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<section class="panel panel-default">
				<header class="panel-heading">Application Log</header>
				<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>Date</th>
							<th>Time</th>
							<th>Level</th>
							<th>Server</th>
							<th>Application</th>
							<th>Content</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>2014-08-16</td>
							<td>21:00</td>
							<td>ERROR</td>
							<td>WGORA107</td>
							<td>Policy Api</td>
							<td>System.NullReferenceException: The parameter 'name' can not be null.</td>
						</tr>
					</tbody>
				</table>
				</div>
				</section>
			</div>
		</div>
	</div>
</section>
